@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch");

* {
    box-sizing: border-box;
}

body {

    background-image: url('./bg.jpg');
    background-size: cover;
    display: flex;
    background-position: center center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Chakra Petch';

}

.title {
    color: white;
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 15rem;
    font-weight: normal;
}

.text {
    color: white;
    font-weight: bold;
    margin: 0 4rem;
    font-size: 6rem;
    line-height: 1;
}

.timer-container {
    display: flex;
}

.element {
    text-align: center;
}

.element span {
    font-size: 1.3rem;
    color: white;
}

